body {
    text-align: center;
}
h1 {
    text-align: auto;
    font-size: xx-large;
    color: honeydew;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-floating{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer{
    text-decoration-line: overline;
}

.body-login{
    font-size: 25px;
    color: rgb(0, 0, 0);
}
